@media screen and (min-width: 1920px){

    .center-div{
        padding: 5% 5% 0 10%;
    }

    .scroll-down p{
        transform: rotate(270deg);
        margin:0;
        text-decoration: none;
        color: #FDFDFC;
        position: absolute;
        font-weight: 300;
        right: 14%;
        bottom: 10%;
    }

    .work-image-container{
        position: relative;
        margin: 0% 7% 0% 15%;
    }

}

@media screen and (min-width: 1440px){

}


@media screen and (min-width: 1280px){

}


@media screen and (max-width: 1024px){

    .first-header-page{
        background-color: #FFFFFF;
        display: flex;
        max-width: 100%;
        box-sizing: border-box;
        height: 5vh;
    }

    .first-navbar{
        display: flex;
        justify-content: space-between;
        margin: 0 15%;
        font-size: 1.2vw;
    }

}


@media screen and (min-width: 768px){

}


@media screen and (min-width: 480px){

}


@media screen and (max-width: 320px){

    .first-navbar{
        display: flex;
        justify-content: space-between;
        margin: 0 15%;
        font-size: 1.4vw;
    }
}